@use '../../popup/variables' as v;

.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  user-select: none;
  .uidInput {
    overflow: hidden;
    padding: 4px 8px;
    margin-bottom: 8px;
    background-color: transparent;
    color: v.$primary-text-color;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ccd0d7 {
      radius: 4px;
    }
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      border-color: v.$primary-input-color;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}
