input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.uid-input {
  overflow: hidden;
  padding: 4px 8px;
  margin-bottom: 8px;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #ccd0d7;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.uid-input:focus {
  border-color: var(--primary-input-color);
}
