@use '../../popup/variables' as v;

.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  user-select: none;

  .videoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
