$primary-text-color: #222;
$secondary-text-color: #61666d;
$primary-color: #fb7299;
$secondary-color: #f6f7f8;
$primary-btn-hover-color: #ff6196;
$primary-btn-active-color: #f14e85;
$secondary-btn-hover-color: #eeeff1;
$secondary-btn-active-color: #e0e2e4;
$primary-input-color: #33b4de;
