:root {
  --primary-text-color: #222;
  --secondary-text-color: #61666d;
  --primary-color: #fb7299;
  --secondary-color: #f6f7f8;
  --primary-btn-hover-color: #ff6196;
  --primary-btn-active-color: #f14e85;
  --secondary-btn-hover-color: #eeeff1;
  --secondary-btn-active-color: #e0e2e4;
  --primary-input-color: #33b4de;
}

.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  user-select: none;
}

.basic-btn {
  width: 100%;
  padding: 0 24px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
