.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  user-select: none;
}

.basic-btn {
  width: 100%;
  padding: 0 24px;
  height: 40px;
  font: {
    size: 14px;
    weight: 600;
  }
  border: none {
    radius: 4px;
  }
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
